<ion-view title="About App">
  <ion-content class="padding">

    <p>This app was written by Dorian Grolaux, using Ionic Framework. <a href="mailto:dorian.grolaux@gmail.com">E-mail</a>.</p>
    <h3>Projects Used</h3>
    <ul>
      <li><a href="http://ionicframework.com">Ionic Framework</a></li>
      <li><a href="http://angularjs.org">AngularJS</a></li>
      <li><a href="https://angular-ui.github.io/ui-router">AngularUI ui-router</a></li>
      <li><a href="https://cordova.apache.org">Cordova</a></li>
    </ul>
    <p>Found a bug, or just have questions? Open an issue on the <a href="https://github.com/Mr-Skwiggs/Ordr-Client">GitHub project</a>.</p>
  </ion-content>
</ion-view>
