<ion-view title="Register">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First name</span>
        <input type="text" placeholder="First name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last name</span>
        <input type="text" placeholder="Last name">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Alias</span>
        <input type="text" placeholder="Alias">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-balanced button-block">Create account</button>
      <a href='#/login' class="button button-positive button-block">Back</a>
    </div>
  </ion-content>
</ion-view>