<ion-view title="Register">
  <ion-content>
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">First name</span>
        <input type="text" placeholder="First name" ng-model="fname">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Last name</span>
        <input type="text" placeholder="Last name" ng-model="lname">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Alias</span>
        <input type="text" placeholder="Alias" ng-model="alias">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password" ng-model="password">
      </label>
    </div>
    <div class="padding">
      <button class="button button-balanced button-block" ng-click="register()">Create account</button>
      <a href='#/login' class="button button-positive button-block">Back</a>
    </div>
  </ion-content>
</ion-view>