<ion-view title="Register">
  <ion-content>
    <form name="registerForm" ng-submit="register()" novalidate="">
      <div class="list">
        <label class="item item-input">
          <span class="input-label">First name</span>
          <input type="text" ng-model="registerForm.fname" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Last name</span>
          <input type="text" ng-model="registerForm.lname" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Alias</span>
          <input type="text" ng-model="registerForm.alias" required>
        </label>
        <label class="item item-input">
          <span class="input-label">Password</span>
          <input type="password" ng-model="registerForm.password">
        </label>
      </div>
      <div class="padding">
        <button class="button button-balanced button-block" ng-click="register()">Create account</button>
        <a href='#/login' class="button button-positive button-block">Back</a>
      </div>
    </form>
  </ion-content>
</ion-view>