.tour {
  background-color: #d4e5ff;
  text-align: center;
  position: absolute;
  z-index: 100;
}
.tour .slider {
  height: 100%;
  padding-top: 80px;
}
.tour img {
  max-height: 70%;
}
.comments .button-block {
  margin: 0;
}

.item.button-block {
  margin-top: 0;
  border-radius: 0;
}
